@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
span {
  color: white;
}

h1,
h4,
a,
p,
thead {
  font-family: SpaceGrotesk;
}
h4 {
  font-family: SpaceGrotesk;
}

a {
  font-family: SpaceGrotesk;
}
p {
  font-family: SpaceGrotesk;
}

.p-05 {
  padding: 2px 3.5px;
}
.border-1 {
  border-width: 1.5px;
}
.text-2xs {
  font-size: 12px;
}
